# PostgreSQL
POSTGRES_DB=agendamentos_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=troque_essa_senha
POSTGRES_PORT=5433

# Backend
BACKEND_PORT=8080
JPA_DDL_AUTO=update

# Frontend
FRONTEND_PORT=80

# JWT
JWT_SECRET=troque_por_uma_chave_grande_com_mais_de_64_caracteres_para_producao

# PWA Push Notifications
VAPID_PUBLIC_KEY=sua_chave_publica_vapid
VAPID_PRIVATE_KEY=sua_chave_privada_vapid
VAPID_SUBJECT=mailto:seuemail@email.com