<main class="login-page">
  <section class="login-card">
    <div class="brand">
      <div class="brand-icon">
        <i class="pi pi-sparkles"></i>
      </div>

      <div>
        <p>Agenda do salão</p>
        <h1>Entrar</h1>
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="entrar()" class="login-form">
      <label class="field">
        <span>E-mail</span>
        <input pInputText type="email" formControlName="email" placeholder="seuemail@email.com" />

        @if (form.controls.email.touched && form.controls.email.invalid) {
        <small>Informe um e-mail válido.</small>
        }
      </label>

      <label class="field">
        <span>Senha</span>

        <p-password formControlName="senha" placeholder="Digite sua senha" [feedback]="false" [toggleMask]="true" />

        @if (form.controls.senha.touched && form.controls.senha.invalid) {
        <small>Informe sua senha.</small>
        }
      </label>

      <button pButton type="submit" label="Entrar" [loading]="carregando()" [disabled]="carregando()"></button>
    </form>
  </section>
</main>
