@use 'sass:map';
@use './breakpoints' as bp;
@use './tokens' as *;

@mixin respond-up($key) {
  $size: map.get(bp.$breakpoints, $key);

  @if $size {
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @error 'Breakpoint não encontrado: #{$key}';
  }
}

@mixin respond-down($key) {
  $size: map.get(bp.$breakpoints, $key);

  @if $size {
    @media (max-width: $size) {
      @content;
    }
  } @else {
    @error 'Breakpoint não encontrado: #{$key}';
  }
}

@mixin page-shell {
  width: min(100%, $container-mobile);
  min-height: 100dvh;
  margin: 0 auto;
}

@mixin card-base {
  border: 1px solid $color-border;
  background: $color-surface;
  box-shadow: $shadow-soft;
}

@mixin button-reset {
  border: 0;
  font: inherit;
  cursor: pointer;
  background: transparent;
}