@use 'styles/tokens';
@use 'styles/forms';
@use 'styles/buttons';
@use 'styles/prime-overrides';

@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
app-root {
  min-height: 100%;
  margin: 0;
  font-family: tokens.$font-main;
}

body {
  background: tokens.$color-bg;
  color: tokens.$color-brown;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}